include:
  - project: phonexia/dev/technologies/microservices/ci-templates
    file:
      - /templates/common.yml
      - /templates/renovate.yml
      - /templates/protofiles-public/doc.yml
      - /templates/protofiles-public/build.yml
      - /templates/protofiles-public/publish-pypi.yml

